@import 'styles/common/vars';

.card {
  max-width: 335px;

  @media screen and (min-width: 375px) {
    max-width: none;
    width: 335px;
  }

  @media screen and (min-width: 768px) {
    width: 342px;
  }

  @media screen and (min-width: 1440px) {
    width: 400px;
  }
}

.cardThumb {
  max-width: 335px;
  max-height: 360px;

  border-radius: 8px;

  overflow: hidden;

  @media screen and (min-width: 375px) {
    max-width: none;
    max-height: none;
    width: 335px;
    height: 360px;
  }

  @media screen and (min-width: 768px) {
    width: 342px;
    height: 360px;
  }

  @media screen and (min-width: 1440px) {
    width: 400px;
    height: 400px;
  }
}

.cardThumb > img {
  height: 100%;
  // width: 100%;
  background-color: rgba(22, 31, 55, 0.5);
}

.cardInfo {
  padding: 14px 0 8px;

  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    padding: 14px 0 20px;
  }

  @media screen and (min-width: 1440px) {
    padding: 14px 0 60px;
  }
}

.cardName {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(18 / 16);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: calc(24 / 18);
  }
}

.linkIngredients {
  font-weight: 500;
  color: rgba($color: $primary-white-color, $alpha: 0.5);

  transition: color $transition-duration;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $primary-white-color;
  }

  &:active {
    color: rgba($color: $main-blue-color, $alpha: 0.5);
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(18 / 16);
  }
}
