@import 'styles/common/utils';
@import 'styles/common/vars';

.wrapper {
  margin: 0 auto;
  text-align: center;
}

.icon {
  padding: 1%;
  text-align: center;

  border-radius: 50%;
  background-color: transparent;

  animation: pulse 1.5s infinite;
}
