@import 'styles/common/vars';

.wrapperOne {
  max-width: 335px;
  padding: 272px 0px 271px;

  background-color: $secondary-bg-blue-color;
  background-image: url('../../images/motivation-one-small@1x.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 375px 812px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../../images/motivation-one-small@2x.png');
  }

  @media screen and (min-width: 375px) {
    max-width: none;
    width: 335px;
    padding: 218px 0px 40px;

    border-radius: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 500px;

    background-image: url('../../images/motivation-one-large@1x.png');
    background-size: 500px 500px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../images/motivation-one-large@2x.png');
    }
  }
}

.wrapperTwo {
  max-width: 335px;
  padding: 272px 32px 271px;

  background-color: $secondary-bg-blue-color;
  background-image: url('../../images/motivation-two-small@1x.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 375px 812px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../../images/motivation-two-small@2x.png');
  }

  @media screen and (min-width: 375px) {
    max-width: none;
    width: 335px;
    padding: 218px 0px 40px;

    border-radius: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 500px;

    background-image: url('../../images/motivation-two-large@1x.png');
    background-size: 500px 500px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../images/motivation-two-large@2x.png');
    }
  }
}

.wrapperThree {
  max-width: 335px;
  padding: 272px 32px 271px;

  background-color: $secondary-bg-blue-color;
  background-image: url('../../images/motivation-three-small@1x.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 375px 812px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../../images/motivation-three-small@2x.png');
  }

  @media screen and (min-width: 375px) {
    max-width: none;
    width: 335px;
    padding: 218px 0px 40px;

    border-radius: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 500px;

    background-image: url('../../images/motivation-three-large@1x.png');
    background-size: 500px 500px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../images/motivation-three-large@2x.png');
    }
  }
}

.thumb {
  position: relative;

  width: 299px;
  height: 269px;
  margin: 0 auto;

  @media screen and (min-width: 375px) {
    max-width: none;
    width: 299px;
  }

  @media screen and (min-width: 768px) {
    width: 268px;
    height: 242px;
  }
}

.image {
  height: 100%;
  // filter: blur(1px) saturate(200%) brightness(150%);
}

.box {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (max-width: 374.99px) {
    top: 2px;
  }

  @media screen and (min-width: 768px) {
    top: 32px;
  }
}

.content {
  max-width: 239px;
  margin: 0 auto 20px;

  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: calc(32 / 28);
  letter-spacing: -0.56px;

  @media screen and (min-width: 375px) {
    max-width: none;
    width: 239px;
  }

  @media screen and (min-width: 768px) {
    width: 216px;
  }
}

.btn {
  width: 48px;
  height: 48px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;

  background-color: $secondary-bg-blue-color;
}

.icon {
  width: 28px;
  height: 28px;

  fill: $primary-white-color;
}
