.title {
    color: rgba(243, 243, 243, 0.50);
    font-size: 16px;
    font-weight: 500;
    line-height: calc(20 / 16);
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 24px;
    }

}

.listWrapper {
    margin-bottom: 80px;
}

.inngredientsList {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;

    @media screen and (min-width: 1440px) {
        gap: 35px;
    }
}

.inngredientsItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inngredientsImgWrapper {
    background: rgba(22, 31, 55, 0.50);
    border-radius: 8px;

    width: 157px;
    height: 157px;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
        width: 220px;
        height: 220px;
    }
}

.inngredientsImg {
    width: 107px;

    @media screen and (min-width: 768px) {
            width: 157px;
        }
}

.inngredientsInfo {
    display: flex;
    justify-content: space-between;
}

.inngredientsName {
    // color: #F3F3F3;
    font-weight: 500;
    line-height: calc(18 / 14);

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }

}

.inngredientsRatio {
    color: rgba(243, 243, 243, 0.50);
    font-weight: 500;
    line-height: calc(18 / 14);

    @media screen and (min-width: 768px) {
            font-size: 16px;
        }
}
