@import 'styles/common/vars';

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.photo {
    width: 400px;
    height: 400px;

    @media screen and (min-width: 768px) {
            width: 342px;
            height: 360px;
        }
    
        @media screen and (min-width: 1440px) {
            width: 400px;
                height: 400px;
        }
   
}