@import 'styles/common/vars';

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.photo {
    width: 400px;
    height: 400px;
   
}