.backgroundFoto {
  max-width: 375px;
  margin: 0 auto;

  background-image: url('../../images/hero-mobile@1x.png');
  background-repeat: no-repeat;
  background-position: right top 34px;
  background-size: 273px 700px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../../images/hero-mobile@2x.png');
  }

  @media screen and (min-width: 768px) {
    max-width: none;
    width: 768px;

    background-image: url('../../images/hero-tablet@1x.png');
    background-position: right top -84px;
    background-size: 445px 1001px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../images/hero-tablet@2x.png');
    }
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;

    background-image: url('../../images/hero-desktop@1x.png');
    background-size: 710px 790px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../images/hero-desktop@2x.png');
    }
  }
}
