$primary-white-color: #f3f3f3;
$main-bg-color: #0a0a11;
$main-blue-color: #4070cd;
$disabled-blue-color: #434d67;
$secondary-bg-blue-color: #161f37;
$error-red-color: #da1414;
$success-green-color: #3cbc81;
$link-color: #c5c5c5;

$transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
