@import 'styles/common/vars';
.form {
  margin-bottom: 80px;
  @media screen and (min-width: 768px) {
    max-height: 320px;
    display: flex;
    justify-content: space-between; 
  }
  @media screen and (min-width: 1440px) {
    width: 833px;
    margin-bottom: 160px;
  }

  &__wrapper {
    position: relative;
    height: 320px;
    margin-bottom: 40px;
    border-radius: 8px;
    color: rgba(22, 31, 55, 0.5);
    background: rgba(22, 31, 55, 0.5);
    @media screen and (min-width: 768px) {
      width: 320px;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1440px) {
      width: 400px;
      height: 400px;
      
    }
  }

  &__input {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    display: block;
    max-width: 335px;
    margin-bottom: 34px;
    color: $primary-white-color;
    letter-spacing: -0.28px;
    background-color: inherit;
    padding-bottom: 14px;
    border: none;
    opacity: 0.5;
    letter-spacing: -0.28px;
    border-bottom: 1px solid rgba(243, 243, 243, 0.7);
    @media screen and (min-width: 375px) {
      width: 335px;
    }
    @media screen and (min-width: 768px) {
      width: 352px;
      margin-bottom: 40px;
      padding-bottom: 18px;
      font-size: 16px;
    }
    @media screen and (min-width: 1440px) {
      width: 393px;
    }
  }
}



.file {
  padding-top: 116px;
  @media screen and (min-width: 1440px) {
    padding-top: 156px;
  }

  &__input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 50px;
    height: 50px;
    margin: auto 0;
    cursor: pointer;
    opacity: 0;
    @media screen and (min-width: 768px) {
      // left: 135px;
      font-size: 16px;
      letter-spacing: -0.32px;
    }
    @media screen and (min-width: 1440px) {
    //  left: 175px;
    }
  }

  &__btn {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 50px;
    height: 50px;
    pointer-events: none;
    z-index: 111;
    border-radius: 6px;
    @media screen and (min-width: 768px) {
      // left: 135px;
    }
    @media screen and (min-width: 1440px) {
      top:  150px;
      // left: 175px;
    }
  }

  &__text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 122px;
    font-size: 16px;
    font-weight: 500;
    line-height: calc(20 / 16);
    color: $primary-white-color;
    @media screen and (min-width: 768px) {
    //  left: 118px;
    }
    @media screen and (min-width: 1440px) {
      // left: 160px;
      bottom: 156px;
    }
  }
}

.img {
  width: 335px;
  height: 320px;
  @media screen and (min-width: 768px) {
    width: 320px;
  }
  @media screen and (min-width: 1440px) {
    width: 400px;
    height: 400px;
  }
}

.error {
  position: absolute;
  color: red;
  font-size: 12px;
 

  &__drink{
    top:34px;
    @media screen and (min-width: 768px) {
      top: 43px;
    } 
  }

  &__description{
    top: 103px;
    @media screen and (min-width: 768px) {
      top: 122px
    }
  }

  &__category{
    bottom: 56px;
    @media screen and (min-width: 768px) {
      bottom: 105px;
    }
    @media screen and (min-width: 1440px) {
      bottom: 185px;
    }
  } 

  &__img{
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (min-width: 768px) {
      bottom: 105px;
      width: 170px;
    }
    @media screen and (min-width: 1440px) {
      bottom: 140px;
    }
  }

}



.category {
  position: relative;
}