.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  //   margin-top: calc(100vh / 3);
  //   margin-bottom: auto;
  margin-left: 20px;
  width: 335px;

  @media screen and (min-width: 768px) {
    // margin-top: 400px;
    margin-left: 64px;
    width: 400px;
  }

  @media screen and (min-width: 1440px) {
    // margin-top: 273px;
    margin-left: 100px;
    width: 400px;
  }
}
