.wraper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text{
    margin-top: 14px;
    margin-bottom: 80px;
    font-weight: 500;
    
    @media screen and (min-width: 768px) {
        margin-bottom: 140px;
    }
}