.PaginatorContainer{
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        margin-bottom: 140px;
    }
}

.PaginatorBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    background-color: transparent;
    border: none;
    padding: 0px;
    border-radius: 50%;
    color: #f3f3f3;
    transition: color 250ms linear;

    &:hover{
        background-color: #434D67;
    }

    &:active{
        background-color: #555964;
    }
}

.arrow{
    opacity: 0.3;
    transition: color 250ms linear;
    
    &:active{
        opacity: 1;
        color: inherit;
    }
}

.PaginatorList{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
