.header {
    border-bottom: 1px solid rgba(243, 243, 243, 0.20);
}
.wrapper {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding-top: 22.5px;
    padding-bottom: 22.5px;

}