@import '../../index.scss';

.wrapper {
    // width: 335px;
    // height: 345px;
    position: relative;
    // outline: auto;
}
.closeBtn {
    position: absolute;
    top: 14px;
    right: 14px;
    padding: 0;
    border: 0;
    background-color: transparent;
    text-decoration: none;
}
.closeIcon {
    fill: $primary-white-color;
}
.img {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 50%;
}