.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .text {
    font-size: 22px;
    font-weight: 400;
    color: white;
  }
  
  .btn {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 2px 10px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--main-color);
    border: 1px solid white;
      color: white;
    text-decoration: none;
    // cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }