@import '../../styles/common/vars';

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.userWrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
  position: relative;
}
.text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: $primary-white-color;

  @media screen and (min-width:768px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  padding: 0;
  text-align: center;
  background-color: transparent;
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.29;
  font-style: normal;
  font-weight: 500;
  transition: all 250ms $transition-duration;
  
  @media screen and (min-width:768px) {
    gap: 14px;
    font-size: 16px;
    line-height: 1.5;
  }
}
.img {
  object-fit: cover;
  border-radius: 50%;
  height: 32px;
  width: 32px;

  @media screen and (min-width: 768px) {
    height: 44px;
    width: 44px;
  }
}
