@import '../../index.scss';

.wrapper {
  position: relative;
  padding: 50px 25px;
  background-color: $secondary-bg-blue-color;
  border-radius: 16px;
}
.imgWrapper {
  position: relative;
}
.closeBtn {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  text-decoration: none;

  &:hover,
  &:focus {
    border-color: $primary-white-color;
  }

  &:active {
    border-color: rgba(64, 112, 205, 0.50);
  }
}
.editBtn {
  position: absolute;
  top: 18px;
  right: 24px;
  border: none;
}
.addImgBtn {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  text-decoration: none;
  bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateY(50%);
  border: 1px solid transparent;
  border-radius: 50%;
  transition: all $transition-duration;

  &:hover,
  &:focus {
    border-color: $primary-white-color;
  }
  &:active {
    border-color: rgba(64, 112, 205, 0.50);
  }
}
.closeIcon {
  fill: $primary-white-color;
}
.editIcon {
  color: $primary-white-color;
}
.img {
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.input {
  display: block;
  width: 285px;
  height: 54px;
  margin-top: 39px;
  margin-bottom: 18px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 24px;
  border-radius: 27px;
  background-color: transparent;
  border: 1px solid rgba(243, 243, 243, 0.2);
  font-family: inherit;
  color: rgba(243, 243, 243, 0.50);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  transition: all $transition-duration;

  &:hover,
  &:focus {
    color: $primary-white-color;
    border: 1px solid rgba(243, 243, 243, 0.5);
  }
}
.btn {
  display: block;
  padding: 18px 90px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $primary-white-color;
  border-radius: 42px;
  color: $secondary-bg-blue-color;
  background-color: $primary-white-color;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $secondary-bg-blue-color;
  }

  &:active {
    border: 1px solid rgba(64, 112, 205, 0.50);
  }
}
.editWrapper {
  position: relative;
}