@import '../../styles/common/vars';

.socialsLink {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid rgba($color: $primary-white-color, $alpha: 0.2);
}

.socialsIcon {
  width: 22px;
  height: 22px;
  opacity: 0.8;

  transition: opacity $transition-duration, scale $transition-duration;

  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
}

.socialsIcon:hover,
.socialsIcon:focus {
  opacity: 1;
  scale: 1.1;
}

.socialsList {
  display: flex;
  text-align: center;
  gap: 14px;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    margin-top: 28px;
    gap: 16px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 40px;
  }
}
