@import 'styles/common/vars';

.subscribeForm {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 309px;
  }
}

.subscribeText {
  color: #f3f3f3;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */

  @media screen and (min-width: 768px) {
    gap: 24px;
    font-size: 18px;
    line-height: 24px;
  }
}

.subscribeFormFields {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.subscribeFormInput {
  height: 56px;
  border-radius: 200px;
  border: 1px solid rgb(243, 243, 243, 0.2);
  background-color: inherit;
  color: rgb(243, 243, 243);
  padding-left: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    font-size: 17px;
    line-height: 156%; /* 26.52px */
  }
}

.subscribeButton {
  height: 56px;
  flex-shrink: 0;
  border-radius: 200px;
  border: 1px solid rgb(243, 243, 243, 0.2);
  // opacity: 0.2;
  color: #f3f3f3;
  background-color: inherit;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;

  @media screen and (min-width: 768px) {
    font-size: 17px;
    line-height: 156%; /* 26.52px */
  }
}

.errorText {
  margin-bottom: 8px;

  color: $error-red-color;
  font-size: 14px;
  line-height: 1.16;
}
