@import '../../styles/common/vars';

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  margin-top: 14px;
}

.input:hover,
.input:focus {
  border: 1px solid rgba($primary-white-color, 0.5);
}

.input:hover::placeholder {
  color: $primary-white-color;
  opacity: 1;
}

.input {
  color: $primary-white-color;
  font-family: Manrope;
  font-size: 14px;
  line-height: 1.29;
  width: 100%;
  padding-left: 24px;
  padding-top: 18px;
  padding-bottom: 18px;

  margin-bottom: 14px;
  border-radius: 200px;
  border: 1px solid rgba($primary-white-color, 0.2);
  background-color: transparent;
  opacity: 0.8;

  @media screen and (min-width: 768px) {
    font-size: 17px;
    line-height: 1.56;
    padding-top: 14px;
    padding-bottom: 15px;
  }
}

.input.valid {
  outline: 1px solid $success-green-color;
  border: transparent;
}

.input.invalid {
  outline: 1px solid $error-red-color;
  border: transparent;
}

.btn {
  color: $secondary-bg-blue-color;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  margin-bottom: 14px;
  border-radius: 42px;
  background: $primary-white-color;

  @media screen and (min-width: 768px) {
    margin-top: 26px;
    font-size: 16px;
    line-height: 1.13;
  }
}

.nav {
  color: $primary-white-color;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  text-decoration-line: underline;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.error {
  position: relative;
  padding-left: 24px;
  margin-top: -6px;
  margin-bottom: 8px;
  color: $error-red-color;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
}

.circle {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
}

.label {
  position: relative;
}

.eyeBtn {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
