@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');
@import 'styles/common/vars';
@import 'styles/common/base';
@import 'styles/common/utils';
@import 'styles/libraries/notification';
